div.row-fluid
	div.span12
		div.hero-unit
			p 
				span API Rest  
				|pública y gratuita para consultar los 
				span feriados 
				|en 
				span Argentina 
				|por año.
		div.row-fluid
			div.span4.centered-box
				h3 2011
				a(href='http://nolaborables.info/API/v1/2011') nolaborables.info/API/v1/2011
			div.span4.centered-box
				h3 Actual
				a(href='http://nolaborables.info/API/v1/actual') nolaborables.info/API/v1/actual
			div.span4.centered-box
				h3 2013
				a(href='http://nolaborables.info/API/v1/2013') nolaborables.info/API/v1/2013
div.row-fluid
	div.span12
		div.hero-unit
			h3 Respuesta JSON (ejemplo)
			pre
				code.json [{ 
					|  "dia": 9,
					|  "mes": 7,
					|  "motivo": "Día de la Independencia",
					|  "tipo": "innamovible"
					|},{
					|  "dia": 17,
					|  "mes": 8,
					|  "motivo": "Paso a la Inmortalidad del General José de San Martín",
					|  "tipo": "trasladable",
					|  "traslado": 20
					|},{
					|  "dia": 5,
					|  "mes": 4,
					|  "motivo": "Jueves Santo Festividad Cristiana",
					|  "tipo": "nolaborable" 
					|}]
div.row-fluid
	p Feriados extraídos del sitio del 
		a(href='http://www.mininterior.gov.ar/asuntos_politicos_y_alectorales/dinap/feriados.php?idName=asuntos&idNameSubMenu=DiNAP&idNameSubMenuDer=DirNAPFeriados') Ministerio del Interior