div.row-fluid
  div.span12
    div.hero-unit.error
      p El dominio .info fue dado de baja en reemplazo por .com.ar 
div.row-fluid
  div.span12
    div.hero-unit
      p 
        span API Rest  
        |pública y gratuita para consultar los 
        span feriados 
        |en 
        span Argentina
    div.row-fluid
      div.span6.centered-box
        h3 2011
        a(href='http://nolaborables.com.ar/API/v1/2011') nolaborables.com.ar/API/v1/2011
      div.span6.centered-box
        h3 2012
        a(href='http://nolaborables.com.ar/API/v1/2012') nolaborables.com.ar/API/v1/2012
    div.row-fluid
      div.span6.centered-box
        h3 2013
        a(href='http://nolaborables.com.ar/API/v1/2013') nolaborables.com.ar/API/v1/2013
      div.span6.centered-box
        h3 2014
        a(href='http://nolaborables.com.ar/API/v1/2014') nolaborables.com.ar/API/v1/2014
    div.row-fluid
      div.span12.centered-box
        h2 2015
        a(href='http://nolaborables.com.ar/API/v1/2015') nolaborables.com.ar/API/v1/2015
    div.row-fluid
      div.span6.centered-box
        h3 Actual (año)
        a(href='http://nolaborables.com.ar/API/v1/actual') nolaborables.com.ar/API/v1/actual
      div.span6.centered-box
        h3 Próximo Feriado
        a(href='http://nolaborables.com.ar/API/v1/proximo') nolaborables.com.ar/API/v1/proximo
div.row-fluid
  div.span12
    h3 Respuesta JSON (ejemplo)
    pre
      code.json [{ 
        |  "dia": 9,
        |  "mes": 7,
        |  "motivo": "Día de la Independencia",
        |  "tipo": "inamovible"
        |},{
        |  "dia": 17,
        |  "mes": 8,
        |  "motivo": "Paso a la Inmortalidad del General José de San Martín",
        |  "tipo": "trasladable",
        |  "traslado": 20
        |},{
        |  "dia": 5,
        |  "mes": 4,
        |  "motivo": "Jueves Santo Festividad Cristiana",
        |  "tipo": "nolaborable" 
        |},{
        |  "dia": 6,
        |  "mes": 4 ,
        |  "motivo": "Pascuas Judías",
        |  "tipo": "nolaborable", 
        |  "opcional": {
        |   "tipo": "religion",
        |   "religion": "judaísmo" 
        |  }
        |}]
hr
div.row-fluid
  div.span12
    h2 Filtros
    div.margin
      h3 Feriados Opcionales
      p.margin Por defecto devuelve todos los feriados, incluidos los opcionales.
      div.margin
        p 
          | Para excluir feriados opcionales agregar parámetro  
          span.hl excluir=opcional
          |  al query string 
        code
          p.margin.bold
            span Año 2011 sin opcionales:&nbsp;
            a(href='http://nolaborables.com.ar/API/v1/2011?excluir=opcional') nolaborables.com.ar/API/v1/2011
              span.hl ?excluir=opcional
          p.margin.bold
            span Año actual sin opcionales:&nbsp;
            a(href='http://nolaborables.com.ar/API/v1/actual?excluir=opcional') nolaborables.com.ar/API/v1/actual
              span.hl ?excluir=opcional
          p.margin.bold
            span Pr&oacute;ximo NO opcional:&nbsp;
            a(href='http://nolaborables.com.ar/API/v1/proximo?excluir=opcional') nolaborables.com.ar/API/v1/proximo
              span.hl ?excluir=opcional
hr
div.row-fluid
  div.span12
    h2 Soporte JSONP 
    div.margin
      p El nombre del par&aacute;metro para la funci&oacute;n de retorno JSONP es 'callback',
        | es decir, que la API puede ser llamada como:
      pre
        code.javascript "http://nolaborables.com.ar/API/v1/actual?callback=foo"
          | // donde 'foo' es el nombre de la funci&oacute;n de retorno
          | function foo(feriados) {
          |   console.dir(feriados);
          | }
      h3 Ejemplo de uso con jQuery
      pre
        code.javascript $.ajax({
          |   url: "http://nolaborables.com.ar/API/v1/actual",
          |   dataType: 'jsonp'
          | }).done(function(feriados) { 
          |   console.dir(feriados);
          | });
hr
div.row-fluid
  div.span12
    h2 Soporte CORS (Cross-Origin Resource Sharing) 
    div.margin
      p Ya se puede obtener los feriados desde cualquier Origen. (
        a(href='http://caniuse.com/cors', target='_blank') soporte de exploradores
        | )
      h3 Ejemplo con jQuery
      pre
        code.javascript $.get('http://nolaborables.com.ar/API/v1/actual', function(feriados){
          |   console.dir(feriados);
          | });
hr
div.row-fluid
  p Feriados Nacionales extraídos del sitio del 
    a(href='http://www.mininterior.gov.ar/asuntos_politicos_y_alectorales/dinap/feriados.php?idName=asuntos&idNameSubMenu=DiNAP&idNameSubMenuDer=DirNAPFeriados') Ministerio del Interior