!!!
html
	head
		title= title
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='Servicio REST Público de Feriados Argentinos')
		meta(name='author', content='Pablo Novas')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/stylesheets/highlight/default.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href='http://fonts.googleapis.com/css?family=Averia+Libre|Slackey', rel='stylesheet', type='text/css')
		script(type='text/javascript', src='javascripts/libs/highlight.pack.js')
		script(type='text/javascript')
			hljs.tabReplace = '  '; 
			hljs.initHighlightingOnLoad();
	body
		div.navbar.navbar-fixed-top
			div.navbar-inner
				div.container-fluid
					a.brand(href='#')= title 
					span.brandComAr .com.ar
		a(href='https://github.com/pjnovas/nolaborables')
			img.forkme(src='https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png', alt='Fork me on GitHub')
		div.container-fluid!= body
		footer
			p.copyright copyright &copy 2012 Pablo Novas